<ion-view view-title="Contato">
  <ion-content class="padding">
    <ul class="list">
      <a class="item item-icon-left" href="mailto:victoriamleao@outlook.com">
        <i class="icon ion-email"></i>
        victoriamleao@outlook.com
      </a>
      <a class="item item-icon-left" href="mailto:kellermanpaulo@hotmail.com">
        <i class="icon ion-email"></i>
        kellermanpaulo@hotmail.com
      </a>
      <a class="item item-icon-left" href="mailto:medpopcerrado@gmail.com">
        <i class="icon ion-email"></i>
        medpopcerrado@gmail.com
      </a>
    </ul>
  </ion-content>
</ion-view>
