<ion-view view-title="{{planta.nome}}">
      <ion-content class="padding">
        <ul class="list">
          <li class="item item-text-wrap">
              <img src="img/plantas/{{planta.img}}" width="300" height="300"/>
          </li>
          <li class="item item-text-wrap">
              <strong>Nome: </strong>{{planta.nome}}
          </li>
          <li class="item item-text-wrap">
              <strong>Nome Científico: </strong><span style="font-style: italic;">{{planta.nomeCientifico}}</span>
          </li>
          <li class="item item-text-wrap">
              <strong>Nome Popular: </strong>{{planta.nomePopular}}
          </li>
          <li class="item item-text-wrap">
              <strong>Descrição: </strong>{{planta.descricao}}
          </li>
          <li class="item item-text-wrap">
              <strong>Características: </strong>{{planta.caracteristicas}}
          </li>
          <li class="item item-text-wrap">
              <strong>Propriedades: </strong>{{planta.propriedades}}
          </li>
          <li class="item item-text-wrap">
              <strong>Indicações: </strong>{{planta.indicacoes}}
          </li>
          <li class="item item-text-wrap">
              <strong>Uso: </strong>{{planta.uso}}
          </li>
          <li class="item item-text-wrap">
              <strong>Contra-Indicações: </strong>{{planta.contraIndicacoes}}
          </li>
      </ul>
      </ion-content>
</ion-view>
