<ion-view view-title="Medicina Popular do Cerrado">
  <ion-content class="padding">
  <div class="fundo-marrom">         
      <div class="row">
          <div class="col">
            <label class="item item-input">
              <input ng-model="data.filtro" type="text" placeholder="O que esta procurando?">
            </label>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button" ng-click="buscarPlantas()">Plantas</a>
          <a class="button">Sintomas/Indicações</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
